.crud__item {
    padding-bottom: 5px;

    a {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-xs;
        
        &[data-method='delete'] {
            @extend .btn-danger;
        }
    }
}

.crud__item--new {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;

    margin-bottom: 10px;
}

.member-create__info {
    @extend .alert;
    @extend .alert-info;
}

.member-index__search {
    @extend .row;
    
    & > div {
        @include make-xs-column(12);    
        
        & > div {
            @extend .jumbotron;
        }
    } 
    
    a {
        @extend .btn;
        @extend .btn-default;
    }
}
