.auth__login-intro {
    @include make-sm-column(12);

    text-align: center;
}

.auth__login-container {
    @include make-sm-column(8);
    @include make-sm-column-offset(2);
    
    margin-top: 20px;
    
    > div {
        @include material-card();
        padding: 20px;
    }
}

.auth__login-container--multi {    
    @include make-sm-column(6);

    margin-top: 20px;
    
    > div {
        @include material-card();
        padding: 20px;
    }
}

.auth__body-membership-confirm {
    text-align: justify;
}

.auth__heading {
    text-align: center;
}

.auth__register-intro {
    @include  make-xs-column(12);
}

.auth__register-blurb {
    @include make-md-column(6);
}

.auth__link-sent {
    text-align: center;
    font-weight: bold;
}