// Bootstrap vars overrides
$brand-primary: #008648;
$brand-secondary: rgb(191,214,21);
$headings-color: $brand-primary;
$brand-primary-contrast: #fff;

$font-family-base: 'Sarala', sans-serif;
$headings-font-family: 'Raleway', cursive;
