.cms-page__article {
    @include make-md-column(9);
    
    img {
        @include img-responsive();
    }
}

.cms-page__solo {
    @include make-xs-column(12);
    
    img {
        @include img-responsive();
    }
}

.cms-page__search-and-signup {
    @include make-md-column(3);
}

.cms-page__search {
    @include make-xs-column(12);
}

.cms-page__signup {
    @include make-xs-column(12);
}