.counsellor__support-item-icon {
	width: 24px;
	height: 22px;
}

.counsellor__basic {
	@include make-sm-column(4);
}

.counsellor__advanced {
	@include make-sm-column(8);
}

.counsellor__about {
	@include make-xs-column(12);
}

.counsellor__about-heading, .counsellor__contact-heading, .counsellor__claim-heading {
	@media (min-width: $screen-sm-min) {
		margin-top: 0;
	}
}

.counsellor__contact-clarify, .counsellor__claim-clarify {
	@extend .alert;
	@extend .alert-info;
}

.counsellor__photo {
	@include material-card();
	@include support-items-ul();

	img:nth-of-type(1) {
		@include img-responsive();
	}

	img:nth-of-type(2) {
		position: absolute;
		top: 10px;
		left: 20px;;
	}

	div {
		background-color: $brand-primary; 
		margin: 0;
		padding: 5px;
	}
	
	h3 {
		color: $brand-primary-contrast;
		text-align: center;
		margin: 0;
		padding: 5px;
	}

	a {
		overflow: hidden;
		text-overflow: ellipsis;
		color: $brand-primary-contrast;
		width: 100%;
	}

	li {
		color: $brand-primary-contrast;
		text-align: center;
	}

}

.counsellor__about {
	@include make-xs-column(12);
}

.counsellor__address-card {
	margin: 15px;
	@include material-card();
	@include clearfix();
}

.counsellor__map {
	@include make-sm-column(9);
	padding: 0px;
	height: 300px;
}

.counsellor__map--address-not-found {
	text-align: center;
	color: $brand-danger;
	font-weight: bold;
	
	span {
		font-size: 72px;
		padding: 20px;
	}
}

.counsellor__street-address {
	@include make-sm-column(3);
	color: $brand-primary;
	font-weight: bold;
	padding-top: 15px;
}

.counsellor__card {
	@include material-card();
	padding: 10px 15px;
	margin: 10px 0;
}

.counsellor__skills {
	@include make-sm-column(6);
	@include support-items-ul();
}

.counsellor__services {
	@include make-sm-column(6);
	@include support-items-ul();
}

.counsellor__issues {
	@include make-xs-column(12);
}

.counsellor__contact-miniprofile, .counsellor__claim-miniprofile {
	@include make-sm-column(4);
	@include make-sm-column-pull(8);
}

.counsellor__contact-form, .counsellor__claim-form {
	@include make-sm-column-push(4);
	@include make-sm-column(8);
	margin-bottom: 20px;
}

.counsellor__claim-recaptcha {
	width: 300px;
	margin: 0 auto;
}

.counsellor__claim-buttons {
	text-align: center;
	
	button {
		@extend .btn;
		@extend .btn-primary;
	}

	a {
		@extend .btn;
		@extend .btn-default;
	}
}

.counsellor__contact-buttons {
	text-align: center;
	
	button, a {
		@extend .btn;
		@extend .btn-primary;
	}
}

.counsellorsuk__contact-details {
	border-radius: 5px;
	border: 2px solid $brand-primary;
	padding: 0 20px;
}

.counsellor__upgrade-nag {
	@extend .alert;
	@extend .alert-danger;
	font-size: 16px;
	font-weight: bold;
	
	a {
		@extend .btn;
		@extend .btn-danger;
		@extend .btn-block;
	}
}