$footer-height-desktop: 193px;
$footer-height-mobile: 316px;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height-mobile;

    @media (min-width: $screen-sm-min) {
      margin-bottom: $footer-height-desktop;
    }
}

.footer {
    border-top: 5px solid $brand-secondary;
    background-color: $brand-primary;
    bottom: 0;
    color: $brand-primary-contrast;
    height: $footer-height-mobile;
    position: absolute;
    text-align: center;
    width: 100%;

    a {
      color: $brand-primary-contrast;
    }

    @media (min-width: $screen-sm-min) {
      height: $footer-height-desktop;
    }
}

.footer__row {
    @extend .container;
}

.footer__section {
    margin-left: 0;
    margin-right: 0;
}

.footer__contact {
    @include make-xs-column(12);
    @include make-sm-column(3);
    @include make-sm-column-offset(3);

    font-weight: bold;

    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.footer__links {
    @include make-xs-column(12);
    @include make-sm-column(3);

    @media (min-width: $screen-sm-min) {
        text-align: right;
    }
}

.footer__social-media {
    @include make-xs-column(12);
    font-size: 32px;
    text-align: center;
}

.footer__copyright {
    @include make-xs-column(12);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.footer__contact, .footer__links, .footer__copyright {
    padding: 10px 0;
}