.header {
    @extend .container-fluid;
    background-color: $brand-primary !important;
    margin-bottom: 20px;

    h1, button, span, a {
        color: $brand-primary-contrast !important;
    }
    
    @media (min-width: $screen-sm-min) {
        background: url("/build/img/banner.jpg") no-repeat right;
    }

    border-bottom: 5px solid $brand-secondary;
}

.header__branding {
    @include make-sm-column(12);
    
    .navbar-toggle {
        margin-right: 0;
        padding-right: 0;
    }

    .icon-bar {
		background-color: $brand-primary-contrast !important;
	}

    a, a:hover, a:active {
        text-decoration: none !important;
    }
}

.header__title {
    font-weight: bold;
    font-family: $headings-font-family;
    
    @media (max-width: $screen-xs-max) {
        font-size: 24px;
        line-height: 50px;
        text-align: center;
    }
    
    @media (min-width: $screen-sm-min) {
        font-size: 48px;
    }
}

.header__nav {
    @include make-sm-column(12);
    @extend .collapse;
    @extend .navbar-collapse;
}

.header__nav-items {
    @extend .nav;
    @extend .navbar-nav;
    
    .dropdown-menu {
        margin-top: -8px !important;
    }

    a, li, ul {
        color: $brand-primary-contrast !important;
        background-color: $brand-primary !important;
        font-size: 16px;
        font-weight: lighter;
        
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 14px;
        }
    }
        
    a, li {
        padding-left: 0 !important;
        padding-right: 30px;
        
        &:last-of-type {
            padding-right: 0;
        }
        
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            padding-right: 11px;
        }

    }
    
    ul {
        padding: 10px;
    }
    
}