.homepage {
    background-image: url('/build/img/home-background.jpg');
}

.homepage__section {
    margin-top: 30px;
    margin-bottom: 50px;
    
    h3 {
        font-weight: bolder;
        text-shadow: 0 0 15px white;
    }

}    

.homepage__main-cta {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    
    & > div {
        @include homepage-portal();
    }
    
    h3 {
        text-shadow: none;
    }
}

.homepage__blurb {
    clear: both;
    
    h2 {
        text-align: center;
        font-weight: bold;
    }
    
    h3 {
        font-size: 16px;
        font-weight: normal;
        background-color: $brand-primary;
        color: $brand-primary-contrast;
        text-align: center;
        padding: 5px;
        margin: 0;

        &:first-of-type {
            padding-top: 20px;
        }

        &:last-of-type {
            padding-bottom: 20px;
        }

        a, a:active, a:hover {
            color: $brand-primary-contrast;
            font-style: italic;
        }
    } 

    p {
        text-align: center;
        font-weight: bold;
        padding: 20px 15px 10px;
    }
}

.homepage__searchbox {
    
    padding: 20px;
    
    .help-block {
        display: none;
    }

    p {
        text-align: center;
        font-weight: bold;
    }

    @media (max-width: $screen-xs-max) {
        .form-group {
            width: 100%;
            margin: 0 auto;
        }
        
        .btn {
            width: 100%;
            text-align: center;
        }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        .form-group {
            width: 75%;
        }
        
        .btn {
            width: 22%;
        }
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        .form-group {
            width: 80%;
        }
        
        .btn {
            width: 18%;
        }
    }

    @media (min-width: $screen-lg-min) {
        .form-group {
            width: 80%;
        }
        
        .btn {
            width: 19%;
        }
    }
}

.homepage__portal {
    @include make-sm-column(5);
    
    &:nth-child(1) {
        @include make-sm-column-offset(1);
    }

    margin-bottom: 10px; 
}

.homepage__portal--charity {
    text-align: center;
    
    img {
        @include img-responsive();
        margin: 0 auto;
        max-height: 100px;
        padding: 10px;
    }
}

.homepage__portal--card {
    @include homepage-portal();
    border: none;
    padding: 20px;
}

.homepage__portal--cta {
    @include make-xs-column(8);
    
    a {
        @extend .btn;
        @extend .btn-primary;
    }
}

.homepage__portal--image {
    @include make-xs-column(4);
    
    img {
        @include img-responsive();
    }
}