.member__nav {
	@extend .nav;
	@extend .nav-tabs;
	@extend .nav-justified;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.profile__nag-wrapper {
	@extend .alert;
	@extend .alert-info;
	font-weight: bold;
}

.profile__card {
	@include material-card();
	padding: 15px;
	margin-top: 20px;
}

.profile__completion {
	@include make-xs-column(8);
	@include make-xs-column-offset(2);
	margin-top: 20px;

	h2 {
		text-align: center;
	}
}

.profile__delete {
	@include make-xs-column(8);
	@include make-xs-column-offset(2);
	margin-top: 20px;

	p {
		text-align: center;
		margin:0;
	}
}

.profile__stage {
	@include make-sm-column(6);
}

.profile__update-stage {
	@extend .btn;
	@extend .btn-primary;
}

.profile__stage-complete-base {
	@extend .label;
	@extend .pull-right;
	font-size: 18px;
}

.profile__stage-complete-true {
	@extend .profile__stage-complete-base;
	@extend .label-success;
}

.profile__stage-complete-false {
	@extend .profile__stage-complete-base;
	@extend .label-warning;
}

.profile__errors {
	@extend .alert;
	@extend .alert-danger;
	@include make-md-column(6);
	@include make-md-column-offset(3);
	@include make-sm-column(8);
	@include make-sm-column-offset(2);
	margin: 40px 0 0;
}

.profile__fieldset {
	@include make-md-column(6);
	@include make-md-column-offset(3);
	@include make-sm-column(8);
	@include make-sm-column-offset(2);
	margin: 20px 0;
	border-bottom: 1px solid $gray-lighter;
}

.profile__fieldset-label {
	@include make-xs-column(12);
	@extend .h3;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	background-color: $brand-primary;
	color: $brand-primary-contrast;
}

.profile__action-buttons {
	@include make-xs-column(12);
	text-align: center;
}

.profile__action-buttons-save {
	@extend .btn;
	@extend .btn-primary;
}

.profile__action-buttons-cancel {
	@extend .btn;
	@extend .btn-default;
}

.profile__action-buttons-delete {
	@extend .btn;
	@extend .btn-danger;
}

.profile__photoedit-show {
	@include make-sm-column(4);
	@include make-sm-column-offset(4);
	margin: 20px;

	img {
		@extend .img-responsive;
		@extend .img-thumbnail;
	}

	.profile__photoedit-remove-button {
		@extend .btn;
		@extend .btn-danger;
		position: absolute;
		top: 0;
		right: 0;
		margin: 15px 30px 0;
		display: none;
	}

	&:hover {
		.profile__photoedit-remove-button {
			display: block;
		}
	}
}

.profile__photoedit-form {
	@include make-xs-column(12);
	margin: 20px 0;

	label.btn {
		width: 300px;
	}
}

.profile__photoedit_errors {
	@extend .alert;
	@extend .alert-danger;

	margin-top: 10px;

	p {
		@extend .text-danger;
	}
}

.profile__logout-form {
	display: inline;
}

.profile__signed-in-banner {
	text-align: center;
	background-color: $gray-lighter;
	margin: 10px 0;
	padding-bottom: 10px;
	border-radius: 4px;
}

.profile__signed-in {
	font-weight: bold;
	padding-top: 10px;
}

.profile__signed-in-cta {
	@extend .btn;
	@extend .btn-default;
}

.profile__member-benefits {
	@include make-xs-column(12);
}

.profile__member-benefits__links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;

	a {
		@extend .btn;
		@extend .btn-primary;
		width: 100%;
		margin: 10px 0;

		@media (min-width: $screen-sm-min) {
			width: 30%;
		}
	}
}
