match-height-clearfix {
	height: 20px;
}

.notification-bar {
	@include make-xs-column(12);
}

.note-editor {
	margin-bottom: 0 !important;
}

textarea.no-wysiwyg {
	width: 100%;
	height: 200px;
}

.searchform {
	border-radius: 5px;
	border: 2px solid $brand-primary;
	padding: 10px;
}

.signup-cta {
	border-radius: 5px;
	border: 2px solid $brand-primary;
	margin-top: 20px;
	padding: 10px;

	.signup-cta__link {
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-block;
	}
}

.former-recaptcha {
	@include make-sm-column(7);
	@include make-sm-column-offset(5);
	@include make-md-column(8);
	@include make-md-column-offset(4);
	@include make-lg-column(9);
	@include make-lg-column-offset(3);
}

.error_main {
	text-align: center;

	@include make-sm-column(8);
	@include make-sm-column-offset(2);
}
