@mixin material-card {
	background: $brand-primary-contrast;
	border: none;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

@mixin homepage-portal {
    border: 3px solid $brand-primary;
    border-radius: 5px;
    background-color: $brand-primary-contrast;
}

@mixin support-items-ul {
	ul {
		list-style-type: none;
		padding-left: 0px;
	}

	li {
		padding-bottom: 5px;
	}
}