.search-choices {
	@include make-sm-column(3);
	@include make-sm-column-push(9);
}

.search-results {
	@include make-sm-column(9);
	@include make-sm-column-pull(3);
	@include support-items-ul();
}

.search-results__card {
	@include material-card();
	margin-bottom: 40px;
}

.search-results__photo {
	@include make-xs-column(3);
	img:nth-of-type(1) {
		margin: 10px;
		@include img-responsive();
	}
	img:nth-of-type(2) {
		position: absolute;
		top: 15px;
		left: 30px;;
		
		@media (max-width: $screen-sm-max) {
			width: 15px;
		}
	}
}

.search-results__basic-info {
	@include make-md-column(5);
	@include make-xs-column(4);
	
	@media (max-width: $screen-xs-max) {
		h2 {
			font-size: 14px;
		}
	}
}

.search-results__other-services {
	@include make-md-column(4);
	@include make-xs-column(5);
	padding-top: 10px;

	li {
		color: $brand-primary;
		padding-left: 50px;
		text-indent: -50px;
		
		@media (max-width: $screen-xs-max) {
			padding-left: 20px;
			text-indent: -20px;
		}
	}
}

.search-results__card-lower {
	background-color: $brand-primary;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;

	li {
		color: $brand-primary-contrast;
		padding-left: 50px;
		text-indent: -50px;
		
		@media (max-width: $screen-xs-max) {
			padding-left: 20px;
			text-indent: -20px;
		}
	}
}

.search-results__service-icons {
	@media (max-width: $screen-xs-max) {
		width: 16px;
		height: 14px;
	}
}

.search-results__skills {
	@include make-md-column(8);
	@include make-xs-column(7);
}

.search-results__cta-buttons {
	@include make-md-column(4);
	@include make-xs-column(5);
}

.search-index__anchors {
	@include make-md-column(3);
	@include make-md-column-push(9);
	
	& > div {
		border-radius: 5px;
		border: 2px solid $brand-primary;
		padding: 0 10px;
	}
	
	ul {
		padding-left: 0;
	}
	
	li {
		list-style-type: none;
	}
}

.search-index__listing {
	@include make-md-column(8);
	@include make-md-column-offset(1);
	@include make-md-column-pull(4);

	ul {
		padding-left: 0;
	}
	
	li {
		list-style-type: none;
	}
}

.search-index__county {
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
		@include make-sm-column(6);
		&:nth-child(2n+1) {
			clear:both;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		@include make-sm-column(4);
		&:nth-child(3n+1) {
			clear:both;
		}
	}
}

.search-index__back-to-top {
	@extend .btn;
	@extend .btn-default;
	@extend .btn-xs;
}