.subscription__intro {
	@include make-sm-column(8);
	@include make-sm-column-offset(2);
	@include support-items-ul();
	text-align: center;
	margin-top: 20px;
}

.subscription__bullets li {
	font-weight: bold;
	font-size: 16px;
	color: $brand-primary;
	padding: 10px;
}

.subscription__payform {
	@include make-sm-column(6);
	@include make-sm-column-offset(3);
	border-radius: 5px;
	border: 1px solid $gray-lighter;
	padding: 15px;
	text-align: center;
}

.subscription__coupon {
	@extend .form-group;

	input {
		@extend .form-control;
	}
}

.subscription__submit {
	@extend .btn;
	@extend .btn-block;
	@extend .btn-primary;
}